# project setup
DOCKER_SOCK="/var/run/docker.sock"
WORK_DIR=
#--------------------------------------------------------------------------
# Current user ID and group ID on your host.
#--------------------------------------------------------------------------
UID=
GID=
#--------------------------------------------------------------------------
# Define the prefix of container names.
# This is useful if you have multiple projects that use docker 
# to have separate containers per project.
#--------------------------------------------------------------------------
COMPOSE_PROJECT_NAME=

# 
VIRTUAL_HOST=